# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
env/
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyInstaller
*.spec
dist/
build/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache
.pytest_cache/
nosetests.xml
test-results/

# MyPy / Pyright
.mypy_cache/
.pyright/

# VS Code / IDE settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db
desktop.ini

# Logs and temp
*.log
*.tmp

# Credentials / env files
.env
.env.*

# Jupyter output
*.ipynb
